<app-nav [name]="'Tracking'" [displayValue]="'824 deliveris'"></app-nav>


<div class="tracking_container">
    <div class="orders_status_container">
        <div class="order_status selected">
            <div>All</div>
            <div>154</div>
        </div>
        <div class="order_status">
            <div>On route</div>
            <div>6</div>
        </div>
        <div class="order_status">
            <div>Waiting</div>
            <div>46</div>
        </div>
        <div class="order_status">
            <div>Inactive</div>
            <div>7</div>
        </div>
    </div>

    <div class="searchBar_container">
        <mat-form-field class="searchBar">
            <mat-label>Search for products</mat-label>
            <span matTextPrefix class="d-flex align-items-center">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" ></mat-icon>
                &nbsp;
            </span>
            <input type="search" placeholder="Search for products" matInput>
        </mat-form-field>

        <mat-form-field class="filter">
            <mat-label>filters</mat-label>
            <span matTextPrefix class="d-flex align-items-center">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="filter_alt"></mat-icon>
                &nbsp;
            </span>
            <mat-select [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value?.[0] || ''}}
                  @if ((toppings.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 3 ? 'other' : 'others'}})
                    </span>
                  }
                </mat-select-trigger>
                @for (topping of toppingList; track topping) {
                    <mat-option [value]="topping">{{topping}}</mat-option>
                  }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="time">
            <mat-label>Time</mat-label>
            <span matTextPrefix class="d-flex align-items-center">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="timer"></mat-icon>
                &nbsp;
            </span>
            <mat-select [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value?.[0] || ''}}
                  @if ((toppings.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 3 ? 'other' : 'others'}})
                    </span>
                  }
                </mat-select-trigger>
                @for (topping of toppingList; track topping) {
                    <mat-option [value]="topping">{{topping}}</mat-option>
                  }
            </mat-select>
        </mat-form-field>
    </div> 

    <mat-grid-list class="trucks_container" cols="2" rowHeight="3:1" gutterSize="15">
        <mat-grid-tile>
            <div class="status_details">
                <div class="d-flex align-items-center status_element">
                    <div class="status_color"></div>
                    <span class="status">
                        On route
                    </span>
                </div>
                <span class="status_id status_element">
                    UL-954284532
                </span>
                
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Distance</span>
                    <span class="status_distance_value">529 km</span>
                </div>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Esimeted time</span>
                    <span class="status_distance_value">5h 27m</span>
                </div>
            </div>

            <div class="truck_details">
                <div class="truck_card">
                    <div class="truck_card_info d-flex justify-content-between">
                        <span>Madrit - Malaga</span>
                        <span>1 h 36 m left</span>
                    </div>
                    <div class="truck_card_destinations">
                        <div class="location-item active">
                            <div class="location-dot"></div>
                            <div class="location-info">
                            <strong>28001 Madrid</strong>
                            </div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">16121 Genova</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">50100 Firenze</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">00100 Roma</div>
                        </div>
                    </div>
                    <div class="img_container d-flex">
                        <img src="/img/truck1.jpg" class="image">
                    </div>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="status_details">
                <div class="d-flex align-items-center status_element">
                    <div class="status_color"></div>
                    <span class="status">
                        On route
                    </span>
                </div>
                <span class="status_id status_element">
                    UL-954284532
                </span>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Distance</span>
                    <span class="status_distance_value">529 km</span>
                </div>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Esimeted time</span>
                    <span class="status_distance_value">5h 27m</span>
                </div>
            </div>

            <div class="truck_details">
                <div class="truck_card">
                    <div class="truck_card_info d-flex justify-content-between">
                        <span>Madrit - Malaga</span>
                        <span>1 h 36 m left</span>
                    </div>
                    <div class="truck_card_destinations">
                        <div class="location-item active">
                            <div class="location-dot"></div>
                            <div class="location-info">
                            <strong>28001 Madrid</strong>
                            </div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">16121 Genova</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">50100 Firenze</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">00100 Roma</div>
                        </div>
                    </div>
                    <div class="img_container d-flex">
                        <img src="/img/truck2.jpg" class="image">
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="status_details">
                <div class="d-flex align-items-center status_element">
                    <div class="status_color"></div>
                    <span class="status">
                        On route
                    </span>
                </div>
                <span class="status_id status_element">
                    UL-954284532
                </span>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Distance</span>
                    <span class="status_distance_value">529 km</span>
                </div>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Esimeted time</span>
                    <span class="status_distance_value">5h 27m</span>
                </div>
            </div>

            <div class="truck_details">
                <div class="truck_card">
                    <div class="truck_card_info d-flex justify-content-between">
                        <span>Madrit - Malaga</span>
                        <span>1 h 36 m left</span>
                    </div>
                    <div class="truck_card_destinations">
                        <div class="location-item active">
                            <div class="location-dot"></div>
                            <div class="location-info">
                            <strong>28001 Madrid</strong>
                            </div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">16121 Genova</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">50100 Firenze</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">00100 Roma</div>
                        </div>
                    </div>
                    <div class="img_container d-flex">
                        <img src="/img/truck4.jpg" class="image">
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="status_details">
                <div class="d-flex align-items-center status_element">
                    <div class="status_color"></div>
                    <span class="status">
                        On route
                    </span>
                </div>
                <span class="status_id status_element">
                    UL-954284532
                </span>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Distance</span>
                    <span class="status_distance_value">529 km</span>
                </div>
                <div class="status_element d-flex flex-column">
                    <span class="status_distance">Esimeted time</span>
                    <span class="status_distance_value">5h 27m</span>
                </div>
            </div>

            <div class="truck_details">
                <div class="truck_card">
                    <div class="truck_card_info d-flex justify-content-between">
                        <span>Madrit - Malaga</span>
                        <span>1 h 36 m left</span>
                    </div>
                    <div class="truck_card_destinations">
                        <div class="location-item active">
                            <div class="location-dot"></div>
                            <div class="location-info">
                            <strong>28001 Madrid</strong>
                            </div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">16121 Genova</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">50100 Firenze</div>
                        </div>
                        <div class="location-item">
                            <div class="location-dot"></div>
                            <div class="location-info">00100 Roma</div>
                        </div>
                    </div>
                    <div class="img_container d-flex">
                        <img src="/img/truck1.jpg" class="image">
                    </div>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</div>