@import url('../../../styles.css');

:host {
    width: 100%;
}

.cart_container {
    width: 100%;
    height: 100%;
    padding: 20px;

}

mat-stepper {
    height: 100%;
    justify-content: center;
    background-color: var(--bg-color);
}


::ng-deep .mat-horizontal-stepper-header-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::ng-deep .mat-horizontal-content-container {
    background-color: white;
    padding: 25px !important;
    width: 100%;
    margin-top: 20px;
}

.product_container {
    width: 100%;
}

table {
    width: 100%;
    height: auto;
}

h2, mat-icon {
    color: rgb(255, 119, 119);
}

h2 {
    margin-left: 10px;
}

.cards_container {
    margin-top: 30px;
}

.card {
    transition: all 0.5s ease;
    cursor: pointer;
    width: 180px;
    min-height: 137px;
    margin: 0 35px 40px 0;
    border-radius: 7px;
}

.card:hover {
    border: 1px solid red;
}

.card-active {
    border: 1px solid red;
}

.img {
    width: 100%;
    height: 100%;

    mix-blend-mode: multiply;
    object-fit: contain;
}
